body, html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

button {

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

ul li {
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-color: #000;
  background-image: linear-gradient(45deg, #f8a305, #c60510);
  background-repeat: no-repeat;
  background-size: 100%;
}

h1 {
  align-self: center;
}
